## [Start] Set default values. **
$util.qr($context.args.input.put("id", $util.defaultIfNull($ctx.args.input.id, $util.autoId())))
#set( $createdAt = $util.time.nowISO8601() )
## Automatically set the createdAt timestamp. **
$util.qr($context.args.input.put("createdAt", $util.defaultIfNull($ctx.args.input.createdAt, $createdAt)))
## Automatically set the updatedAt timestamp. **
$util.qr($context.args.input.put("updatedAt", $util.defaultIfNull($ctx.args.input.updatedAt, $createdAt)))
## [End] Set default values. **
## [Start] Validate create mutation for @key 'byCatSubCatBrandCreatedAt'. **
#set( $hasSeenSomeKeyArg = false )
#set( $keyFieldNames = ["subCategory", "brand", "createdAt"] )
#foreach( $keyFieldName in $keyFieldNames )
#if( $ctx.args.input.containsKey("$keyFieldName") ) #set( $hasSeenSomeKeyArg = true ) #end
#end
#foreach( $keyFieldName in $keyFieldNames )
  #if( $hasSeenSomeKeyArg && !$ctx.args.input.containsKey("$keyFieldName") )
    $util.error("When creating any part of the composite sort key for @key 'byCatSubCatBrandCreatedAt', you must provide all fields for the key. Missing key: '$keyFieldName'.")
  #end
#end
## [End] Validate create mutation for @key 'byCatSubCatBrandCreatedAt'. **
#if( $util.isNull($dynamodbNameOverrideMap) )
  #set( $dynamodbNameOverrideMap = {
  "subCategory#brand#createdAt": "subCategoryBrandCreatedAt"
} )
#else
  $util.qr($dynamodbNameOverrideMap.put("subCategory#brand#createdAt", "subCategoryBrandCreatedAt"))
#end
$util.qr($ctx.args.input.put("subCategory#brand#createdAt","${ctx.args.input.subCategory}#${ctx.args.input.brand}#${ctx.args.input.createdAt}"))
## [Start] Validate create mutation for @key 'byCatSubCatBrand'. **
#set( $hasSeenSomeKeyArg = false )
#set( $keyFieldNames = ["subCategory", "brand"] )
#foreach( $keyFieldName in $keyFieldNames )
#if( $ctx.args.input.containsKey("$keyFieldName") ) #set( $hasSeenSomeKeyArg = true ) #end
#end
#foreach( $keyFieldName in $keyFieldNames )
  #if( $hasSeenSomeKeyArg && !$ctx.args.input.containsKey("$keyFieldName") )
    $util.error("When creating any part of the composite sort key for @key 'byCatSubCatBrand', you must provide all fields for the key. Missing key: '$keyFieldName'.")
  #end
#end
## [End] Validate create mutation for @key 'byCatSubCatBrand'. **
#if( $util.isNull($dynamodbNameOverrideMap) )
  #set( $dynamodbNameOverrideMap = {
  "subCategory#brand": "subCategoryBrand"
} )
#else
  $util.qr($dynamodbNameOverrideMap.put("subCategory#brand", "subCategoryBrand"))
#end
$util.qr($ctx.args.input.put("subCategory#brand","${ctx.args.input.subCategory}#${ctx.args.input.brand}"))
## [Start] Validate create mutation for @key 'byCatSubCatSold'. **
#set( $hasSeenSomeKeyArg = false )
#set( $keyFieldNames = ["subCategory", "sold"] )
#foreach( $keyFieldName in $keyFieldNames )
#if( $ctx.args.input.containsKey("$keyFieldName") ) #set( $hasSeenSomeKeyArg = true ) #end
#end
#foreach( $keyFieldName in $keyFieldNames )
  #if( $hasSeenSomeKeyArg && !$ctx.args.input.containsKey("$keyFieldName") )
    $util.error("When creating any part of the composite sort key for @key 'byCatSubCatSold', you must provide all fields for the key. Missing key: '$keyFieldName'.")
  #end
#end
## [End] Validate create mutation for @key 'byCatSubCatSold'. **
#if( $util.isNull($dynamodbNameOverrideMap) )
  #set( $dynamodbNameOverrideMap = {
  "subCategory#sold": "subCategorySold"
} )
#else
  $util.qr($dynamodbNameOverrideMap.put("subCategory#sold", "subCategorySold"))
#end
$util.qr($ctx.args.input.put("subCategory#sold","${ctx.args.input.subCategory}#${ctx.args.input.sold}"))
## [Start] Validate create mutation for @key 'byCatSubCatPrice'. **
#set( $hasSeenSomeKeyArg = false )
#set( $keyFieldNames = ["subCategory", "price"] )
#foreach( $keyFieldName in $keyFieldNames )
#if( $ctx.args.input.containsKey("$keyFieldName") ) #set( $hasSeenSomeKeyArg = true ) #end
#end
#foreach( $keyFieldName in $keyFieldNames )
  #if( $hasSeenSomeKeyArg && !$ctx.args.input.containsKey("$keyFieldName") )
    $util.error("When creating any part of the composite sort key for @key 'byCatSubCatPrice', you must provide all fields for the key. Missing key: '$keyFieldName'.")
  #end
#end
## [End] Validate create mutation for @key 'byCatSubCatPrice'. **
#if( $util.isNull($dynamodbNameOverrideMap) )
  #set( $dynamodbNameOverrideMap = {
  "subCategory#price": "subCategoryPrice"
} )
#else
  $util.qr($dynamodbNameOverrideMap.put("subCategory#price", "subCategoryPrice"))
#end
$util.qr($ctx.args.input.put("subCategory#price","${ctx.args.input.subCategory}#${ctx.args.input.price}"))
## [Start] Validate create mutation for @key 'byCatSubCatCreatedAt'. **
#set( $hasSeenSomeKeyArg = false )
#set( $keyFieldNames = ["subCategory", "createdAt"] )
#foreach( $keyFieldName in $keyFieldNames )
#if( $ctx.args.input.containsKey("$keyFieldName") ) #set( $hasSeenSomeKeyArg = true ) #end
#end
#foreach( $keyFieldName in $keyFieldNames )
  #if( $hasSeenSomeKeyArg && !$ctx.args.input.containsKey("$keyFieldName") )
    $util.error("When creating any part of the composite sort key for @key 'byCatSubCatCreatedAt', you must provide all fields for the key. Missing key: '$keyFieldName'.")
  #end
#end
## [End] Validate create mutation for @key 'byCatSubCatCreatedAt'. **
#if( $util.isNull($dynamodbNameOverrideMap) )
  #set( $dynamodbNameOverrideMap = {
  "subCategory#createdAt": "subCategoryCreatedAt"
} )
#else
  $util.qr($dynamodbNameOverrideMap.put("subCategory#createdAt", "subCategoryCreatedAt"))
#end
$util.qr($ctx.args.input.put("subCategory#createdAt","${ctx.args.input.subCategory}#${ctx.args.input.createdAt}"))


## [Start] Prepare DynamoDB PutItem Request. **
$util.qr($context.args.input.put("__typename", "Product"))
#set( $condition = {
  "expression": "attribute_not_exists(#id)",
  "expressionNames": {
      "#id": "id"
  }
} )
#if( $context.args.condition )
  #set( $condition.expressionValues = {} )
  #set( $conditionFilterExpressions = $util.parseJson($util.transform.toDynamoDBConditionExpression($context.args.condition)) )
  $util.qr($condition.put("expression", "($condition.expression) AND $conditionFilterExpressions.expression"))
  $util.qr($condition.expressionNames.putAll($conditionFilterExpressions.expressionNames))
  $util.qr($condition.expressionValues.putAll($conditionFilterExpressions.expressionValues))
#end
#if( $condition.expressionValues && $condition.expressionValues.size() == 0 )
  #set( $condition = {
  "expression": $condition.expression,
  "expressionNames": $condition.expressionNames
} )
#end
{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": #if( $modelObjectKey ) $util.toJson($modelObjectKey) #else {
  "id":   $util.dynamodb.toDynamoDBJson($ctx.args.input.id)
} #end,
  "attributeValues": $util.dynamodb.toMapValuesJson($context.args.input),
  "condition": $util.toJson($condition)
}
## [End] Prepare DynamoDB PutItem Request. **